<p style="color: green"><%= notice %></p>

<%= render @project_comment %>

<div>
  <%= link_to "Edit this project comment", edit_project_comment_path(@project_comment) %> |
  <%= link_to "Back to project comments", project_comments_path %>

  <%= button_to "Destroy this project comment", @project_comment, method: :delete %>
</div>
